/* Base Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 1px 20px 10px yellowgreen;
}

a {
    text-decoration: none;
}

header {
    min-height: 8vh;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 20px 10px yellowgreen;
    width: 100%;
    text-align: center;
    animation: glow 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

header h1 {
    color: white;
    font-size: 40px;
    padding: 50px;
}

/* Background */
section.glow-background {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.glow-background div.row {
    width: 100%;
    height: 20%;
    display: flex;
}

section.glow-background div.twenty {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.glow-background div.twenty div.resize {
    animation: resize 30s;
    background-color: greenyellow;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 5s;
    width: 100%;
    height: 100%;
}

/* Battery */
div.battery-wrapper {
    height: 60vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 30vh;
    right: 35vw;
    z-index: 2;
}

div.battery-tip {
    flex-basis: 5%;
    background-color: darkslategray;
    border: greenyellow solid .2rem;
    width: 25%;
    margin: auto;
    box-shadow: 0px 1px 20px 10px yellowgreen;
    animation: glow 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 5s;
}

div.battery-body {
    flex-basis: 95%;
    border: greenyellow solid .5rem;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 20px 10px yellowgreen;
    animation: glow 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 5s;
}

div.power-lost {
    animation: drain-gain 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 5s;
    box-shadow: inset 1px -1px 5px 2px yellowgreen;
    background-color: rgb(35, 39, 39);
}


/* Animations */
@keyframes drain-gain {

    /* Add more frammes ~ 0% -100% */
    0% {
        flex-basis: 0%;
    }

    1% {
        flex-basis: 1%;
    }

    2% {
        flex-basis: 2%;
    }

    3% {
        flex-basis: 3%;
    }

    4% {
        flex-basis: 4%;
    }

    5% {
        flex-basis: 5%;
    }
    6% {
        flex-basis: 6%;
    }
    7% {
        flex-basis: 7%;
    }
    8% {
        flex-basis: 8%;
    }
    9% {
        flex-basis: 9%;
    }

    10% {
        flex-basis: 10%;
    }

    11% {
        flex-basis: 11%;
    }
    12% {
        flex-basis: 12%;
    }
    13% {
        flex-basis: 13%;
    }
    14% {
        flex-basis: 14%;
    }
    15% {
        flex-basis: 15%;
    }
    16% {
        flex-basis: 16%;
    }
    17% {
        flex-basis: 17%;
    }
    18% {
        flex-basis: 18%;
    }
    19% {
        flex-basis: 19%;
    }

    20% {
        flex-basis: 20%;
    }
    21% {
        flex-basis: 21%;
    }
    22% {
        flex-basis: 22%;
    }
    23% {
        flex-basis: 23%;
    }
    24% {
        flex-basis: 24%;
    }
 
    25% {
        flex-basis: 25%;
    }
    26% {
        flex-basis: 26%;
    }
    27% {
        flex-basis: 27%;
    }
    28% {
        flex-basis: 28%;
    }
    29% {
        flex-basis: 29%;
    }

    30% {
        flex-basis: 30%;
    }
    31% {
        flex-basis: 31%;
    }

    32% {
        flex-basis: 32%;
    }
    33% {
        flex-basis: 33%;
    }
    34% {
        flex-basis: 34%;
    }
    35% {
        flex-basis: 35%;
    }
    36% {
        flex-basis: 36%;
    }
    37% {
        flex-basis: 37%;
    }

    38% {
        flex-basis: 38%;
    }
    39% {
        flex-basis: 39%;
    }
    40% {
        flex-basis: 40%;
    }

    41% {
        flex-basis: 41%;
    }
    42% {
        flex-basis: 42%;
    }
    43% {
        flex-basis: 43%;
    }
    44% {
        flex-basis: 44%;
    }
    45% {
        flex-basis: 45%;
    }
    46% {
        flex-basis: 46%;
    }
    47% {
        flex-basis: 47%;
    }
    48% {
        flex-basis: 48%;
    }
    49% {
        flex-basis: 49%;
    }

    50% {
        flex-basis: 50%;
    }
    51% {
        flex-basis: 51%;
    }
    52% {
        flex-basis: 52%;
    }
    53% {
        flex-basis: 53%;
    }
    54% {
        flex-basis: 54%;
    }

    55% {
        flex-basis: 55%;
    }
    56% {
        flex-basis: 56%;
    }
    57% {
        flex-basis: 57%;
    }
    58% {
        flex-basis: 58%;
    }
    59% {
        flex-basis: 59%;
    }

    60% {
        flex-basis: 60%;
    }
    61% {
        flex-basis: 61%;
    }
    62% {
        flex-basis: 62%;
    }
    63% {
        flex-basis: 63%;
    }
    64% {
        flex-basis: 64%;
    }
    65% {
        flex-basis: 65%;
    }
    66% {
        flex-basis: 66%;
    }
    67% {
        flex-basis: 67%;
    }
    68% {
        flex-basis: 68%;
    }
    69% {
        flex-basis: 69%;
    }

    70% {
        flex-basis: 70%;
    }
    71% {
        flex-basis: 71%;
    }
    72% {
        flex-basis: 72%;
    }
    73% {
        flex-basis: 73%;
    }
    74% {
        flex-basis: 74%;
    }

    75% {
        flex-basis: 75%;
    }
    76% {
        flex-basis: 76%;
    }
    77% {
        flex-basis: 77%;
    }
    78% {
        flex-basis: 78%;
    }
    79% {
        flex-basis: 79%;
    }

    80% {
        flex-basis: 80%;
    }
    81% {
        flex-basis: 81%;
    }
    82% {
        flex-basis: 82%;
    }
    83% {
        flex-basis: 83%;
    }
    84% {
        flex-basis: 84%;
    }

    85% {
        flex-basis: 85%;
    }
    86% {
        flex-basis: 86%;
    }
    87% {
        flex-basis: 87%;
    }
    88% {
        flex-basis: 88%;
    }
    89% {
        flex-basis: 89%;
    }

    90% {
        flex-basis: 90%;
    }
    91% {
        flex-basis: 91%;
    }
    92% {
        flex-basis: 92%;
    }
    93% {
        flex-basis: 92%;
    }
    94% {
        flex-basis: 92%;
    }
    95% {
        flex-basis: 95%;
    }
    96% {
        flex-basis: 96%;
    }
    97% {
        flex-basis: 97%;
    }
    98% {
        flex-basis: 98%;
    }
    99% {
        flex-basis: 99%;
    }
    100% {
        flex-basis: 100%;
    }

}

@keyframes glow {

    /* Add more frammes 0%-100% */
    0% {
        box-shadow: 0px 1px 0px 0px yellowgreen;
    }

    1% {
        box-shadow: 0px 1px .2px .1px yellowgreen;
    }

    2% {
        box-shadow: 0px 1px .4px .2px yellowgreen;

    }

    3% {
        box-shadow: 0px 1px .6px .3px yellowgreen;
    }

    4% {
        box-shadow: 0px 1px .8px .4px yellowgreen;
    }

    5% {
        box-shadow: 0px 1px 1px .5px yellowgreen;
    }

    6% {}

    7% {}

    8% {}

    9% {}

    10% {}

    25% {
        box-shadow: 0px 1px 5px 2.5px yellowgreen;
    }

    50% {
        box-shadow: 0px 1px 10px 5px yellowgreen;
    }

    75% {
        box-shadow: 0px 1px 15px 7.5px yellowgreen;
    }

    100% {
        box-shadow: 0px 1px 20px 10px yellowgreen;
    }
}

@keyframes resize {

    /* Add more frames please: 0%-100% */
    0% {
        width: 0%;
        height: 0%;
        border-radius: 0%;
    }

    25% {
        width: 25%;
        height: 25%;
        border-radius: 25%;
    }

    50% {
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }

    75% {
        width: 75%;
        height: 75%;
        border-radius: 75%;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}